@import "../../../vendors/variables";
@import "../../../vendors/mixins";
.package-hero {
  background-image: url(../../../assets/images/packageHero.jpg);
  height: 640px;
  background-size: cover;
  background-repeat: no-repeat;
  @include flexCenter;
  .package-hero-content {
    @include flexCenter;
    flex-direction: column;
    .package-hero-title {
      text-align: center;
      margin-bottom: 30px;
      h1 {
        color: $main_color;
        font-family: $second_font;
        font-size: 72px;
        letter-spacing: 2px;
      }
      p {
        color: $main_color;
        font-family: $main_font;
        font-size: 18px;
      }
    }
  }
}
