@import "../../../vendors/variables";
@import "../../../vendors/mixins";
.about-us-hero {
  background-image: url(../../../assets/images/aboutUsHero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 340px;
  @include flexCenter;
  .about-us-hero-title {
    text-align: center;
    @include flexCenter;
    h1 {
      color: $main_color;
      font-family: $second_font;
      font-size: 74px;
      letter-spacing: 2px;
    }
  }
}
