@import "../../../vendors/variables";
@import "../../../vendors/mixins";


.careers-feed-back-field {
    background-color: $main_blue;
    padding: 60px 0;

    .careers-feed-back-content {
        display: flex;

        @media(max-width: 767px) {
            flex-direction: column;
        }

        .careers-feed-back {
            padding: 30px;
        }
    }
}