@import "../../../vendors/variables";

.adventure-team {
  padding: 100px 0px;
  .row {
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      padding-left: 60px;
    }
  }
  .about-us-map {
    @media (max-width: 767px) {
      width: 80%;
    }
    display: flex;
    gap: 16px;
    .map-logo {
      width: 20%;
      height: 50px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .text {
      h3 {
        color: $main_blue;
        font-family: $main_font;
        font-weight: 600;
      }
      p {
        font-family: $main_font;
        color: $main_gray;
      }
    }
  }
  .adventure {
    @media (max-width: 767px) {
      width: 80%;
      margin-bottom: 30px;
    }
    .card {
      background-color: $third_gray;
      border: none;
    }
    img {
      width: 100%;
    }
    .adventurer-info {
      h4 {
        font-family: $main_font;
        font-weight: 600;
      }
      p {
        font-family: $main_font;
        color: $main_gray;
      }
    }
    .adventurer-social-media {
      margin-top: 20px;
      display: flex;
      gap: 10px;
      color: $second_gray;
      font-size: 18px;
    }
  }
}
