@import "../../../vendors/variables";

.gallery-first-grid {
  padding: 60px 0px;
  .first-grid-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      color: $main_blue !important;
      font-family: $main_font;
      font-weight: 600;
    }
    p {
      color: $main_gray;
      font-family: $main_font;
      max-width: 70%;
    }
  }
  .first-grid-content {
    margin-top: 30px;
  }
}
