@import "../../vendors/variables";

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid $second_gray;
  .title {
    display: flex;
    align-items: center;
    gap: 10px;
    .rotate-button {
      transform: rotate(-90deg);
      transition: 0.5s;
    }
    svg {
      color: $main_blue;
      transition: 0.9s;
      cursor: pointer;
    }
    h6 {
      color: $main_blue;
      font-family: $main_font;
      font-weight: 600;
      padding-top: 6px;
      font-size: 20px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .text {
    p {
      color: $main_gray;
      font-family: $main_font;
      display: none;
      margin-left: 25px;
    }
  }
}

.active {
  display: block !important;
}
