@import "../../../vendors/variables";
@import "../../../vendors/mixins";
.gallery-hero {
  background-image: url(../../../assets/images/galleryHero.jpg);
  height: 328px;
  background-size: cover;
  background-repeat: no-repeat;
  @include flexCenter;
  .gallery-hero-title {
    text-align: center;
    @include flexCenter;
    h1 {
      color: $main_color;
      font-family: $second_font;
      font-size: 72px;
      letter-spacing: 2px;
    }
  }
}
