@import "../../../vendors/variables";

.tour-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  gap: 30px;
  @media (max-width: 847px) {
    flex-direction: column;
    text-align: center;
  }
  h4 {
    color: $main_blue;
    font-family: $main_font;
  }
  button {
    border: 2px solid $main_blue;
    border-radius: 7px;
    padding: 10px 30px;
    background-color: $main_color;
    color: $main_blue;
    font-weight: 600;
    font-family: $main_font;
    transition: all 0.3s;
    &:hover {
      color: $main_color;
      background-color: $main_blue;
    }
  }
}
