@import "../../vendors/variables";
@import "../../vendors/mixins";

.question-inputs-field {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 50px;

  form {
    max-width: 996px;
    text-align: center;
    padding-top: 10px;

    @media (max-width: 992px) {
      max-width: 720px;
    }
    #error {
      color: $error_color;
      background-color: $error_bg;
      border: 1px solid $error_border;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 5px;
      font-family: $main_font;
      font-size: 14px;
      display: none;
    }
    .question-inputs {
      justify-content: center;
      text-align: center;

      @media (max-width: 767px) {
        max-width: 500px;
      }

      .question-col {
        padding: 0;
        margin-bottom: 15px;
        @media (max-width: 576px) {
          display: grid;
          justify-content: center;
        }
      }

      input,
      button {
        padding: 0 15px;
        font-size: 13px;
        border-radius: 5px;
        font-family: $main_font;
        min-width: 225px;
        height: 56px;
        margin: 5px 10px !important;
        border: 1px solid #d3d3d3;
        outline: 0;
      }

      span {
        font-family: $main_font;
        font-size: 12px;
        color: $error_color;
        font-weight: 900;
      }

      .question-button {
        border: 0;
        background-color: $main_blue;
        color: white;

        &:hover {
          background-color: #3a3b74e0;
        }
      }
    }
  }
}

.error-message {
  display: block !important;
}
.error-border {
  border: 1px solid $error_color !important;
}
