@import "../../../vendors/mixins";
@import "../../../vendors/variables";

.detail-products {
  @include flexCenter;
  flex-direction: column;
  padding-top: 40px;
  h1 {
    color: $main_gray;
    font-family: $main_font;
    font-weight: 700;
  }
}
