@import "../../../vendors/variables";

.home-feed-back {
  background-color: $main_blue;
  .all-feed-back {
    display: flex;
    justify-content: space-between;
    padding: 80px 0px;
    gap: 50px;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
}
