@import "../../../vendors/variables";
@import "../../../vendors/mixins";
.get-here-hero {
  background-image: url(../../../assets/images/gethereHero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 328px;
  @include flexCenter;
  .get-here-hero-title {
    text-align: center;
    @include flexCenter;
    h1 {
      color: $main_blue;
      font-family: $second_font;
      font-size: 74px;
      letter-spacing: 2px;
    }
  }
}
