@import "../../../vendors/variables";
@import "../../../vendors/mixins";

.reverse-tours-field {
  @media (max-width: 767px) {
    flex-direction: column-reverse !important;
  }
}

.all-tours-field {
  display: flex;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  .all-tours-img {
    width: 50%;
    height: 486px;
    @media (max-width: 1024px) {
    }
    @media (max-width: 767px) {
      width: 100%;
      height: 300px !important;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .all-tours-text-field {
    // background-color: $main_blue !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    height: 486px;
    @media (max-width: 767px) {
      width: 100%;
      height: 346px !important;
    }

    .all-tours-text-part {
      display: flex;
      gap: 15px;
      .all-tours-text-icon {
        width: 50px;
        height: 50px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .all-tours-text {
        display: flex;
        flex-direction: column;
        max-width: 325px;
      }
    }
  }
}
