@import "../../../vendors/variables";
@import "../../../vendors/mixins";

.careers-link-field {
  padding: 65px 0;

  .careers-link-content {
    max-height: 88px;
    text-align: center;
    @include flexCenter;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    span {
      font-size: 25px;
      margin: 0 15px;
      font-weight: 400;
      line-height: 1.5;
      font-family: $main_font;
      color: $main_blue;
    }

    button {
      font-size: 18px;
      padding: 12px 45px;
      margin: 5px 5px 10px;
      outline: 0;
      background: $main_blue;
      color: $main_color;
      border: 0;
      border-radius: 5px;
      transition: 0.9s;
      font-family: $main_font;

      &:hover {
        background-color: #3a3b74e0;
        transition: 0.9s;
      }
    }
  }
}
