@import "../../../vendors/variables";

.package-info {
  padding: 100px 50px;
  .package-info-field {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
}
