@import "../../vendors/variables";
@import "../../vendors/mixins";

.our-tours-part {
  padding: 80px 30px;
  background-color: #efefef;

  .tours-container {
    max-width: 1320px;
    margin: 0 auto;

    .our-tours-content {
      .tours-content-top {
        margin-bottom: 20px;

        .our-tours-titles {
          display: flex;
          text-align: center;
          flex-direction: column;
          align-items: center;

          h2 {
            color: $main_blue;
            font-size: 42px;
            font-family: $second_font;
            font-weight: 500;
            margin-bottom: 10px;
            line-height: 110%;
            text-transform: uppercase;
            letter-spacing: 0.05em;
          }

          p {
            font-family: $main_font;
            color: #393939;
            max-width: 590px;
          }
        }
      }

      .tours-content-bottom {
        .our-tours-sorting {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 30px;
          padding: 0 0 30px;

          @media (max-width: 767px) {
            gap: 10px;
          }

          span {
            font-weight: 700;
            font-family: $main_font;
          }

          button {
            cursor: pointer;
            align-items: center;
            border: none;
            font-size: 15px;
            font-family: $main_font;
            color: #939799;

            &:focus {
              border-bottom: 1px solid $black;
              color: $black;
            }
          }
        }

        .all-tours {
          .tour-card {
            position: relative;
            z-index: 1;
            overflow: hidden;
            margin-bottom: 20px;
            transition: 0.9s;

            &:hover .tour-card-content {
              opacity: 1;
              visibility: visible;
              transition: 0.9s;
            }

            &:hover img {
              transform: scale(1.1);
              transition: 0.9s;
            }

            @media (max-width: 1024px) {
              &:hover .tour-card-content > span {
                display: block;
              }
            }

            .tour-card-content {
              width: calc(100% - 25px);
              height: 100%;
              transition: 0.9s;
              background-color: rgba(50, 50, 93, 0.75);
              position: absolute;
              z-index: 2;
              text-align: center;
              padding: 20px 20px;
              visibility: hidden;
              opacity: 0;
              display: flex;
              flex-direction: column;
              cursor: pointer;

              @media (max-width: 1024px) {
                opacity: 1;
                visibility: visible;
              }

              span {
                color: $main_color;
                font-family: $main_font;
                font-weight: 600;

                @media (max-width: 1024px) {
                  display: none;
                }
              }

              .tour-card-title {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                gap: 2px;

                h3 {
                  font-family: $main_font;
                  color: $main_color;
                  font-size: 28px;
                  font-weight: normal;
                  line-height: 120%;
                  text-transform: uppercase;
                }

                p {
                  font-family: $main_font;
                  color: $main_color;
                  font-size: 16px;
                  font-weight: 400;
                }

                button {
                  @include tourBtn;
                  background-color: transparent;
                  color: $main_color;
                  border: 2px solid $main_color;
                }
              }
            }

            .tours-card-img {
              max-width: 423px;
              max-height: 423px;
              overflow: hidden;

              @media (max-width: 992px) {
                max-width: 444px;
                max-height: 444px;
              }

              @media (max-width: 767px) {
                max-width: 680px;
                max-height: 680px;
              }

              img {
                width: 100%;
                height: 100%;
                transition: 0.9s;
              }
            }
          }
        }
      }
    }
  }
}
