@import "../../vendors/variables";
@import "../../vendors/mixins";

.our-tours-part {
  padding: 80px 30px;
  background-color: #efefef;
  .tours-container {
    max-width: 1320px;
    margin: 0 auto;

    .our-tours-content {
      .tours-content-top {
        margin-bottom: 20px;

        .our-tours-titles {
          display: flex;
          text-align: center;
          flex-direction: column;
          align-items: center;

          h2 {
            color: $main_blue;
            font-size: 42px;
            font-family: $second_font;
            font-weight: 500;
            margin-bottom: 10px;
            line-height: 110%;
            text-transform: uppercase;
            letter-spacing: 0.05em;
          }

          p {
            font-family: $main_font;
            color: #393939;
            max-width: 590px;
          }
        }
      }

      .tours-content-bottom {
        .our-tours-sorting {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 30px;
          padding: 0 0 30px;

          @media (max-width: 767px) {
            gap: 10px;
          }

          span {
            font-weight: 700;
            font-family: $main_font;
          }

          button {
            cursor: pointer;
            align-items: center;
            border: none;
            font-size: 15px;
            font-family: $main_font;
            color: #939799;

            &:focus {
              border-bottom: 1px solid $black;
              color: $black;
            }
          }
        }
      }
    }
  }
}
