@import "../../../vendors/variables";

.home-contact {
  position: absolute;
  margin-top: 70px;
  margin-left: 90px;
  padding: 50px;
  background-color: $main_color;
  max-width: 310px;
  h4 {
    color: $main_blue;
    font-family: $main_font;
    font-weight: 600;
  }
  h6 {
    color: $black;
    font-family: $main_font;
    margin-top: 20px;
    font-weight: 500;
  }
  p {
    font-family: $main_font;
    margin-bottom: 0px;
    font-size: 14px;
  }
  .contact-link {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    a {
      text-decoration: none;
      font-weight: 600;
      font-family: $main_font;
      font-size: 14px;
    }
  }
}
.tour_link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px;
  gap: 30px;
  margin-top: -10px;
  background-color: $main_blue;
  @media (max-width: 847px) {
    flex-direction: column;
    text-align: center;
  }
  h4 {
    color: $main_color;
    font-family: $main_font;
  }
  button {
    border: 2px solid $main_color;
    border-radius: 7px;
    padding: 10px 30px;
    background-color: $main_blue;
    color: $main_color;
    font-weight: 600;
    font-family: $main_font;
    transition: all 0.3s;
    &:hover {
      color: $main_blue;
      background-color: $main_color;
    }
  }
}
