@import "../../vendors/variables";
.location {
  margin-bottom: -20px;

  .tours-contact {
    position: absolute;
    margin-top: 90px;
    margin-left: 90px;
    padding: 50px;
    background-color: $main_color;
    max-width: 310px;
    h4 {
      color: $main_blue;
      font-family: $main_font;
      font-weight: 600;
    }
    h6 {
      color: $black;
      font-family: $main_font;
      margin-top: 20px;
      font-weight: 500;
    }
    p {
      font-family: $main_font;
      margin-bottom: 0px;
      font-size: 14px;
    }
    .contact-link {
      display: flex;
      gap: 30px;
      margin-top: 20px;
      a {
        text-decoration: none;
        font-weight: 600;
        font-family: $main_font;
        font-size: 14px;
      }
    }
  }
}
